
<%= render 'shared/sidebar' %>

<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1> 


<p>&lt;<%= @user.email %>&gt;</p>
<%= render 'follow_form' if signed_in? %>
<% unless @user.microposts.empty? %>
	<ul id="microposts" summary="User microposts">
		<%= render @microposts %>
	</ul>
	<%= will_paginate @microposts %>
<% end %>


