	<div id="sidebar" class="round">
		<%= render 'shared/user_info' %>
		<%= render 'shared/stats' %>
	</div>
	<h1>Hey <%= current_user.name %>, what's up?</h1>
	<%= render 'shared/micropost_form' %>
	<%= render 'shared/feed' %>